//- 'template extends from the layout file. layout
//- holds the structure of your HTML'
extends layout.pug  

//- 'add content in the content block'
block content
    section#content 
        h2 Welcome, student!
